<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Lalezar.ttf</string>
		<string>IRANSansMobile-Bold.otf</string>
		<string>me_quran.ttf</string>
		<string>IRANSansMobile-Light.otf</string>
		<string>IRANSansMobile-Medium.otf</string>
		<string>IRANSansMobile-UltraLight.otf</string>
		<string>IRANSansMobile.otf</string>
		<string>Yekan.ttf</string>
		<string>IRANYekan-Light.ttf</string>
		<string>IRANYekan-Bold.ttf</string>
		<string>DiodrumArabic-Regular.ttf</string>
		<string>DiodrumArabic-Medium.ttf</string>
		<string>DiodrumArabic-Semibold.ttf</string>
		<string>DiodrumArabic-Bold.ttf</string>
		<string>DiodrumArabic-Light.ttf</string>
		<string>DiodrumArabic-Extralight.ttf</string>
	</array>
</dict>
</plist>
